<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>常识问答机器人</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/default.css">
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <script type="text/javascript"  src="../static/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript"  src="../static/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
</head>
<body>

	<div class="main">
        <div class="form-wrapper">
            <div class="phone">
			<div class="screen">
				<div class="lower-screen">
					<div class="card">
						<h3>智能问答机器人</h3>
					</div>

					<div class="card">
						<form enctype="multipart/form-data" method="post">
                            <input type="text" name="question" style="width: 100%;overflow: visible;margin-bottom:10px;padding: 4px;">
                            <button type="submit" class="btn btn-primary">
                                提问 <span class="badge">go!</span></button>
                        </form>
						<br>
					</div>

					<div class="card">
                        <h4>回复</h4>
						<h4>{{ answer }}</h4>
                        <br>
					</div>
					<div class="card">
                        <p>目前提供功能：地理知识问答；中译英；闲聊</p>
						<p>输入内容例如：最长的运河是？</p>
						<p>输入内容例如：最大的海峡？</p>
						<p>输入内容例如：最大的山城？</p>
						<h5>翻译功能格式 :</h5><p>"翻译：内容"</p>
                        <br>
					</div>
				</div>
			</div>
		</div>
        </div>
	</div>

</body>
</html>